{deps, []}.


{erl_opts, [
    debug_info,
    nowarn_export_all,
    {d,'APP_NAME', 'el_math'}
]}.


{relx, [
    {release, {el_math, "1"}, [el_math]},
    {extended_start_script, true},
    {include_erts, true},
    {include_src, false}
]}.


{profiles, [

    {local,[
        {erl_opts, [{d,'APP_MODE', 'local'}]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {system_libs, true},
            {sys_config_src, "./config/local/sys.config.src"},
            {vm_args_src, "./config/local/vm.args.src"}
        ]}
    ]},

    {production,[
        {erl_opts, [{d,'APP_MODE', 'production'}]},
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {system_libs, true},
            {sys_config_src, "./config/production/sys.config.src"},
            {vm_args_src, "./config/production/vm.args.src"}
        ]}
    ]}


]}.
